._.DS_Store
.DS_Store
00exp_wdy/documents/
00exp_wdy/stage04_mitosisDetection/step01_generate_traing_data/00DB/
METHOD3/external
stage03_deepFeatMaps/external/
stage03_deepFeatMaps/lasagne/
stage04_mitosisDetection/mitoses_ground_truth/
stage06_fcnSegmentation/external/
stage06_fcnSegmentation/roi-resnet-lasagne/data/
stage06_fcnSegmentation/roi-vgg-13/external/
vis/
*.caffemodel
*.solverstate
*.npy
*.pyc
*.tif
*.png
